@import "variables";

body {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

%text {
  justify-content: center;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#heading {
  @extend %text;
  padding: 0.6em;
  font-size: 2em;
  background-color: dodgerblue;
}

#description {
  @extend %text;
  padding: 0.6em;
  font-size: 1em;
  background-color: $sub-color0;
}

.option_wrapper {
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0.1rem;
    border-bottom: 2px solid gray;
  }
}

.setting_wrapper {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0.1rem 0.1rem 0.5rem;

  h2 {
    font-size: 1.5rem;
    margin: 0 0 0.5rem 0;
    padding-bottom: 0.1rem;
    border-bottom: 2px solid gray;
  }

  .description {
    max-width: 600px;
    margin: 0.1rem 0.1rem 0.1rem 0.5rem;
  }
}

.setting_values_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0.3rem 0.1rem 0.2rem 0.1rem;

  .form_wrapper {
    display: flex;
    flex-direction: column;
    margin: 0.2rem;
    .form_div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-left: 1rem;
      input {
        margin-left: 0.5rem;
        width: 5rem;
        border: 0.1rem solid gray;
      }

      .value {
        margin-left: 0.5rem;
        width: 5rem;
      }
    }
  }

  .select_wrapper {
    display: flex;
    flex-direction: row;
    margin: 0.2rem 0.2rem 0.2rem 1rem;

    h3 {
      font-size: large;
    }
    .language_select {
      margin-left: 0.5rem;
      padding: 0.1rem;
      border: 0.1rem solid gray;
    }
  }
}

.form_errs {
  display: flex;
  flex-direction: column;
  min-height: 1.5rem;

  .form_err {
    margin-top: 0.1rem;
    text-align: right;
    color: red;
  }
}

.status_button_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px;

  .submit_wrapper {
    padding: 2px 4px 2px 4px;
  }
}

.buttons_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

button {
  outline: none;
  padding: 2px 4px 2px 4px;
  margin: 0 10px 0 10px;
  border: none;
  border-radius: 2px;
  background-color: lightgrey;

  &:hover {
    background-color: grey;
  }
  &:active {
    color: whitesmoke;
  }

  &[unablesubmit="true"] {
    color: whitesmoke;

    &:hover {
      background-color: lightgrey;
    }
  }
}

button.current {
  box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}

//popup
.popup_wrapper {
}

.context_menu_wrapper {
  display: flex;
  flex-direction: column;

  h2 {
    border-bottom: 2px solid gray;
    height: 1.4rem;
    padding: 0.1rem 0 0.1rem 0.1rem;
    font-weight: bold;
  }

  .context_wrapper {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid gray;
    height: 1.4rem;
    justify-content: left;

    h3 {
      width: 3rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    .language_select {
      margin-left: 0.5rem;
      padding: 0.1rem;
    }
  }
}
// focus
.check_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: 0.5rem;

  input {
    margin: 0 0.1rem 0 0.1rem;
  }
}
